/*@import 'node_modules/react-redux-toastr/src/styles/index';*/

/* HELPERS */
/* Margin*/
.m-btm-15 {margin-bottom: 15px}
.m-btm-20 {margin-bottom: 20px}
.m-btm-30 {margin-bottom: 30px}

.m-top-15 {margin-top: 15px}
.m-top-20 {margin-top: 20px}
.m-top-30 {margin-top: 30px}
.m-top-50 {margin-top: 50px}

/* headers */
h1 {
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 1.5rem;
}
h3 {
  margin-bottom: 1rem;
}

p {
  word-wrap: break-word;
}

/* React-Redux-Toastr */
.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center,
.redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
  width: 50%;
  word-wrap: break-word;

  .toastr-middle-container {
    padding: 10px 50px 10px 0 !important;
    width: 90% !important;
  }
  .toastr-right-container {
    display: none;
  }
}
.redux-toastr .confirm {
  width: 420px;
  .message {
    line-height: 2rem;
  }
}

/* Forms */
.form {
  input, textarea {
    margin-bottom: 1rem;
  }
  button {
    margin-top: 0.5rem;
  }
}

.ethereum-address {
  color: #c94d42;
}

.caution {
  font-style: italic;
  color: red;
  font-size: 1rem;
}