// headers
h1 {
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 1.5rem;
}
h3 {
  margin-bottom: 1rem;
}

// React-Redux-Toastr
.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center,
.redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
  width: 50%;
  word-wrap: break-word;

  .toastr-middle-container {
    padding: 10px 50px 10px 0 !important;
    width: 90% !important;
  }
  .toastr-right-container {
    display: none;
  }
}
.redux-toastr .confirm {
  width: 420px;
  .message {
    line-height: 2rem;
  }
}

// Forms
.form {
  input, textarea {
    margin-bottom: 1rem;
  }
  button {
    margin-top: 0.5rem;
  }
}